<% layout("/layouts/boilerplate.ejs") %>
<div class="row">
    <div class="alert alert-danger col-6 offset-3 mt-3" role="alert">
        <h4 class="alert-heading">Oops!</h4>
        <p><%= message%></p>
    </div>
    <form method="get" action="/listings"><button class="col-2 offset-5 btn add-btn">Go Home</button></form>
</div>